@use "../general/spacing/" as spa;
@use "../general/layers/" as lay;

$container-map:(
  sm: 30rem,
  md: 45rem,
  lg: 60rem,
)!default;

@include lay.use-framework-layer(layout) {
  .container {
    --container-spacing: var(--spacing, #{spa.get-spacing(5)});
    padding-inline: max(
      var(--container-spacing),
      (100vw - var(--container__max-width, 100vw))/2
    );
    @each $size, $value in $container-map {
      &:where(.#{$size}) {
        --container__max-width: #{$value};
      }
    }
  }
}
