@use "../utils/spacing-utils.scss" as s;
@use "../general/layers/" as lay;

@include lay.use-framework-layer(layout) {
  .sidebar-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gap, var(--spacing, #{s.get-spacing(5)}));

    > .sidebar {
      flex-grow: 1;
      flex-basis: var(--sidebar-basis, fit-content);
    }

    > :not(.sidebar) {
      flex-basis: 0;
      flex-grow: 999;
      min-inline-size: 50%;
    }
  }
}
