@use "../utils/spacing-utils.scss" as s;

@layer framework.layout {
  .stack {
    --stack-spacing: var(--spacing, #{s.get-spacing(5)});
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--stack-spacing);
  }
}
