@use "../general/spacing/" as spa;
@use "../general/layers/" as lay;

@include lay.use-framework-layer(layout) {
  .stack {
    --stack-spacing: var(--spacing, #{spa.get-spacing(5)});
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--stack-spacing);
  }
}
